@model ValidacionesUDEO.Models.validaciones1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>validaciones1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textoPequenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textoPequenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textMediano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textMediano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textoGrande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textoGrande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarjetaDeCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarjetaDeCredito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
